[package]
name = "cget"
version.workspace = true
authors.workspace = true
edition.workspace = true
rust-version.workspace = true

[dependencies]
clap = { version = "4.5.45", features = ["derive"] }
regex = "1.11.1"
