.root {
    font-family: cursive, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 1rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: fixed;
    inset: 20px;
}

.nav{
    background-color: navy;
    color: white;
    font-weight: bold;
    padding: 5px 20px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    font-size: larger;
    height: 40px;
}

.view{
    display: flex;
    flex-grow: 1;
}
.sidebar{
    background-color: #c4c4ec;
    width: 400px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    gap: 10px;
    padding: 10px;
}
.todo {
    display: block;
    background-color: #9a9ace;
    color: navy;
    min-width: 40px;
    padding: 5px;
    cursor: pointer;
}
.todo:hover{
    background-color: #b2b2dd;
}

.todo.active{
    background-color: navy;
    color: white;
}
.todo.checked{
    text-decoration: overline;
}

.detail{
    background-color: #b9d1e5;
    flex-grow: 1;
    padding: 10px;
}
