.root {
    font-family: cursive, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 1rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: fixed;
    inset: 20px;
}

.view{
    display: flex;
    flex-grow: 1;
    background: linear-gradient(90deg, #b4b4e1,#cee2f3);
}

.todo {
    display: flex;
    background-color: #9a9ace;
    color: navy;
    min-width: 40px;
    padding: 5px;
    cursor: pointer;
    border: 2px solid transparent;
}
.todo:hover{
    border: navy 2px solid;
}

.todo.active{
    background-color: navy;
    color: white;
}

.detail{
    /* background-color: #b9d1e5; */
    flex-grow: 1;
    padding: 10px;
}
